@charset "utf-8";
        #wrap{width: 100%; color: #3E3832; overflow: hidden; font-family: 'Noto Sans KR', sans-serif;}
        .inner{width: 1300px; margin: auto; }
        
        #gallery{width: 100%; height: 600px}
        .slideBox { height: 400px;position: relative; }

        .slideImg { position: absolute; height: 600px; overflow: hidden; }
        .slideImg img{height: auto; width: 100%; margin: 0 auto;}
        .indicator {position: absolute; bottom: -100px}
        .indicator a { display: block;width: 20px; height: 20px;background-color: #F7B500;border-radius: 10px; margin: 20px;}
        .indicator{right: 0; }
        .left{position: absolute; top: 50%; right: 68px}
        .right{position: absolute; top: 50%; right: 0}

        .mainTxt{position: absolute; font-size: 30px; z-index: 99; top: 130px; left:150px; color:#3E3832; font-weight: 600}
        .mainTxt2{position: absolute; font-size: 14px; z-index: 99; top: 230px; left:150px; color:#3E3832; font-weight: 300}
        .mainTxt span{color:#F7B500; font-size: 35px }
        .mainBox{width: 200px; height: 200px; background-color: rgba(255,255,255,0.5); border: 2px solid #fff; position: absolute; z-index: 99;
         top: 280px; left:150px; padding: 20px; color: #3E3832; }
        .mainBox p:nth-child(1){font-weight: 300; margin-bottom: 3px}
        .mainBox p:nth-child(1) span{font-weight: 400; font-size: 16px}
        .mainBox p:nth-child(2){font-weight: 300}
        .mainBox .mainBtn{position: absolute; left: 20px; background-color:  #3E3832; border: 0; padding: 5px 15px; margin-top: 10px; font-size: 10px; 
        color: #fff; transition: 0.4s}
        .mainBox .mainBtn:hover{background-color:#F7B500; color:#3E3832; }
        .mainBox2{left: 350.8px}
        .mainBox .mainBtn{bottom: 20px}
        .mainBox3{left: 552px}
        /*갤러리끝*/
        
        /*헤더시작*/
        #header{width: 100%; height: 60px; background-color: #fff; overflow: hidden; font-weight: 400; z-index: 9; transition: 1s; }
        #header .logo{background-image: url(../img/logo.jpg); width: 200px; height:60px; background-size: cover; float: left; background-position: center; background-repeat: no-repeat;}
        #header .nav{text-align: center}
        #header .nav ul{float: right}
        #header .nav ul li{float: left; width: 110px; }
        #header .nav span{display: inline-block;  width: 3px; height: 30px; background-color: red; }
        #header .nav ul li a{display: block; padding: 0px 25px; font-size: 13px; line-height: 100px; transition: 0.4s; line-height: 60px; position: relative}
        #header .nav ul li:nth-child(1),
        #header .nav ul li:nth-child(2){background-color:#F7B500;}
        #header .nav ul li a:hover{background-color:#3E3832; color: #fff }
        #header .nav ul li a::after{content: ''; display: inline-block; width: 0.5px; height: 30px; background-color: #c7c7c7; position: absolute; top: 15px; right: 0
        }
        #header .nav ul li:nth-child(1) a::after{content: ''; display: inline-block; width: 0.5px; height: 30px; background-color: #6a6159;  position: absolute; top: 15px; right: 0
        }
        #header .nav ul li:nth-child(2) a::after{display: none}
        
        #header.sticky{position: fixed; top: 0; height: 60px; padding-top: 0px; background-color:#3E3832; color: #fff }
        #header .nav ul li a.sticky{color: #fff}
        #header .logo.sticky{background-image: url(../img/logoB.png); width: 200px; height: 40px; background-size: contain; float: left; background-position: center; background-repeat: no-repeat; margin-top: 10px}
        
        /*헤더끝*/
        
        #content{width: 100%; height: 1100px; background-color: #ebebeb}
        #content .inner{background-color: #dbdbdb; width: 1300px; margin: auto; height: 800px; position: relative; top: 150px}
        
        
        
        /*콘텐츠 시작*/
        /*contBox 시작*/
        #content .contBox{width: 900px; height: 130px; background-color: #fff; position: absolute; top: -80px; left: 50%; transform: translateX(-50%); padding: 35px 20px; overflow: hidden;  box-shadow: 0px 10px 10px rgba(41, 41, 41, 0.29);}
        #content .contBox>div{display: flex; justify-content: space-between}
        #content .contBox>div .Box{width: 25%; display: flex; cursor: pointer; }
        #content .contBox>div .Box::after{content: ''; display: block; width: 1px; height: 60px; background-color: #cecece; margin-left: 25px}
        #content .contBox>div .Box:nth-of-type(4)::after{display: none}
        #content .contBox>div .Box:nth-of-type(1){padding-left: 20px}
        #content .contBox>div .Box:nth-of-type(1) img{width: 65px; height: 55px}
        #content .contBox>div .Box:nth-of-type(2) img{width: 70px; height: 60px}
        #content .contBox>div .Box:nth-of-type(3) img{width: 78px; height: 60px}
        #content .contBox>div .Box:nth-of-type(4) img{width: 70px; height: 55px}
        #content .contBox>div .Box .text{margin-left: 1.5em; transition:0.4s }
        #content .contBox>div .Box p{display: inline-block; font-size: 18px; padding-top: 10px} 
        #content .contBox>div .Box span{display: block; font-size: 12px}
        #content .contBox>div .Box:hover .text{color:#F7B500 }
        /*contBox 끝*/
        
        /*contTop 시작*/
        #content .contTop{ width:1200px; margin: auto; position: relative; top: 80px; }
        #content .contTop>div{display: flex; justify-content: space-between}
        #content .contTop .tab_menu{}
        .tab_menu {position: relative; height: 240px; width: 400px; box-shadow: 1px 1px 5px gray }
        .tab_menu ul {overflow: hidden; }
        .tab_menu ul>li {float: left; border: 1px solid #ccc;width: 50%; height: 55px; background-color: #3E3832; transition: 0.4s}
        .tab_menu ul>li:hover{background-color: #F7B500}
        .tab_menu ul li a {padding: 5px 10px; display: block; font-size: 16px; text-align: center; color: #fff; line-height: 40px; font-weight: 350;  }
        .tab_menu ul li ul {position: absolute;left: 0; width: 270px; top: 50px; border: 0; background-color: #fff; width: 100%; height:190px }
        .tab_menu ul li ul li {float: none; border: 0; width: 390px; height: 35px; line-height: 35px; background-color: #fff; border-bottom: 1px solid #d6d6d6; text-indent: 1em; margin-left: 5px}
        .tab_menu ul li ul li:hover{background-color: transparent;  }
        .tab_menu ul li ul li a:hover{background-color: #f2f2f2}
        .tab_menu ul li ul li a {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;
        padding: 0 0 3px 0; font-size: 13px;  text-align: left;}
        .tab_menu ul li.active {background: #F7B500;}
        .tab_menu ul li.active a {color:#fff;}
        .tab_menu ul li.active ul li a {color: #333;}
        .tab_menu .red{color: red; font-weight: 390}
        .tab_menu .green{color: #17c900; font-weight: 390}
        
        .cont1{ height: 240px; width: 400px; background-color: rgba(204, 204, 204, 0.49); font-weight: 300 }
        .cont1>div{display: flex; flex-wrap: wrap; justify-content: center;}
        .cont1>div>div{height: 110px; background-color: #fff; border-radius: 3px; width: 190px; margin: 5px 3px; padding: 16px 10px; display: flex; transition: 0.2s; box-shadow: 1px 1px 5px gray}
        .cont1>div>div:hover{box-shadow: 3px 3px 3px gray}
        .cont1>div>div img{}
        .cont1>div>div .cont1Txt{padding: 15px 10px;}
        .cont1>div>div .cont1Txt span{background-color: #008485; border-radius: 20px; padding: 2px 5px; color: #fff; margin-bottom: 3px; display:block; text-align: center}
        .cont1>div>div:nth-of-type(2) .cont1Txt span{background-color: #E88200}
        .cont1>div>div:nth-of-type(3) .cont1Txt span{background-color: #925FC0}
        .cont1>div>div:nth-of-type(4) .cont1Txt span{background-color: #F25871}
        .cont1>div>div .cont1Txt p{font-size: 14px}
        
        
        
        
        .cont2{ height: 240px; width: 400px; background-color: rgb(206, 206, 206); box-shadow: 1px 1px 5px gray}
        .cont2 .cont2gallery{width: 400px; height: 172px; position: absolute; overflow: hidden; bottom: 0px;  }
        .cont2 .cont2gallery>div{width: 400px; height: 200px; position: absolute; left: 400px; background-size: contain; background-repeat: no-repeat;}
        .cont2 .cont2gallery>div:nth-child(1){background-image: url(../img/01_Web_TheEasy.png); width:100%; height: 200px; left: 0px}
        .cont2 .cont2gallery>div:nth-child(2){background-image: url(../img/07_Web_talktalkPay.png); width: 400px; height: 200px;}
        .cont2 .cont2gallery>div:nth-child(3){background-image: url(../img/09_Web_emartKB.png); width: 400px; height: 200px;}
        .cont2 h2{font-weight: 300; font-size: 22px; text-align: center; padding-top: 13px; }
        .cont2 h2::before{content: '|'; display: inline-block; background-color:#F7B500; margin-right: 0.4em; color: transparent; font-size: 17px}
        .cont2 span{font-weight: 400; font-size: 26px; color: #F7B500;  }
        /*contTop 끝*/
        
        
        /*contBottom 시작*/
        .contBottom{width: 1200px; height: 400px; background-color: #999; margin: auto; position: relative; top: 120px; box-shadow: 1px 1px 5px gray }
        .contBottom .bottomBox{display: flex}
        .contBottom .bottomBox .box1{width: 400px; height: 400px; position: relative; }
        .contBottom .bottomBox .box2{width: 400px; height: 400px;  }
        .contBottom .bottomBox .box3{width: 400px; height: 400px; }
        
        .contBottom .bottomBox .box1>div{background-size: cover; background-position: center; position: absolute}
        .contBottom .bottomBox .box1 .box11{width: 400px; height: 399px;  background-color: #9a827e; background: linear-gradient( rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.42) ), url('../img/box11_1.jpg'); background-size: cover; background-position: center; padding: 30px;}
        .contBottom .bottomBox .box1 .box11>*{margin-bottom: 5px; font-weight: 500; color: #fff}
        .contBottom .bottomBox .box1 .box11 h3{font-size: 24px;margin-bottom: 20px}
        .contBottom .bottomBox .box1 .box11 h3 span{display: inline-block; color:#F7B500;}
        .contBottom .bottomBox .box1 .box11 hr{width: 110px; margin-bottom: 30px}
        .contBottom .bottomBox .box1 .box11 p{font-weight: 300}
        .contBottom .bottomBox .box1 .box11 p span{display: inline-block; color:#F7B500; font-weight: 500 }
        .contBottom .bottomBox .box1 .box11 p:nth-of-type(1){margin-bottom: 50px; font-size: 14px}
        .contBottom .bottomBox .box1 .box11 p:nth-of-type(2){color:rgba(226, 226, 226, 0.9);}
        
        
        
        .contBottom .bottomBox .box1 .box12{background-color:#3E3832; color: #fff; width: 400px; height: 399px;padding: 30px; opacity: 0;background: linear-gradient( rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.42) ), url('../img/box11.jpg');background-position: center; background-size: cover; }
        .contBottom .bottomBox .box1 .box12>*{margin-bottom: 5px; font-weight: 100;}
        .contBottom .bottomBox .box1 .box12 h3{font-size: 24px; font-weight: 100; margin-bottom: 40px}
        .contBottom .bottomBox .box1 .box12 h3 span{display: inline-block; color:#F7B500; font-weight: 900 }
        .contBottom .bottomBox .box1 .box12 p:nth-of-type(2n-1){font-size: 18px; margin-bottom: 5px}
        .contBottom .bottomBox .box1 .box12 p span{display: inline-block; color:#F7B500}
        .contBottom .bottomBox .box1 .box12 p:nth-of-type(2n){font-size: 12px; margin-bottom: 20px; color: #d4cdc3; }
        
        
        .contBottom .bottomBox .box1 .box13{background: linear-gradient( rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.42) ), url('../img/box11_111.jpg');background-position: center; background-size: cover; width: 400px; height: 399px; color: #fff; padding: 30px; opacity: 0 }
        .contBottom .bottomBox .box1 .box13>*{margin-bottom: 5px; font-weight: 100;}
        .contBottom .bottomBox .box1 .box13 h3{font-size: 24px; font-weight: 100; margin-bottom: 20px}
        .contBottom .bottomBox .box1 .box13 h3 span{display: inline-block; font-weight: 300; }
        .contBottom .bottomBox .box1 .box13 hr{width: 120px; margin-bottom: 30px}
        .contBottom .bottomBox .box1 .box13 p span{display: inline-block; color:#F7B500; font-weight: 400;  }
        .contBottom .bottomBox .box1 .box13 p:nth-of-type(1){margin-bottom: 10px; font-size: 14px}
        .contBottom .bottomBox .box1 .box13 p:nth-of-type(2){color:rgba(237, 223, 200, 0.68); margin-bottom: 30px }
        .contBottom .bottomBox .box1 .box13 p:nth-of-type(3){font-size: 12px; color:rgba(226, 226, 226, 0.9);  }
        
        .contBottom .bottomBox .box1>div.on{opacity: 1; }
        
        
        
        .contBottom .bottomBox .box2>div{}
        .contBottom .bottomBox .box2 .box21{background-color: #999; width: 400px; height: 133px; background-image: url(../img/bottom1.jpg); background-size: cover; background-position: right; position: relative}
        .contBottom .bottomBox .box2 .box22{background-color: #888;  width: 400px; height: 133px; background-image: url(../img/bottom2.jpg); background-size: cover; position: relative}
        .contBottom .bottomBox .box2 .box23{background-color: #3E3832; width: 400px; height: 133px; color: #fff; font-weight: 100; padding: 17px 35px;position: relative}
        .contBottom .bottomBox .box2 .box23 p:nth-child(1){color: #ffecd2}
        .contBottom .bottomBox .box2 .box23 hr{width: 10%; margin: 10px 0; }
        .contBottom .bottomBox .box2 .box23 p:nth-child(3){color: #d9d2c9;margin-bottom: 3px ; font-size: 13px}
        .contBottom .bottomBox .box2 .box23 p:nth-child(4){color: #b1b1b1; margin-bottom:5px; font-size: 10px}
        .contBottom .bottomBox .box2 .box23 p:nth-child(5){color: #ddd3bd}
        .contBottom .bottomBox .box2 .box23 span{color: #F7B500}
        .contBottom .bottomBox .box2 .caption{display: block; width: 20px; height: 20px; position: absolute;top: 50%; transform: translateY(-50%); border-top: 30px solid transparent;
        border-left: 30px solid transparent;border-bottom: 30px solid transparent;border-right: 30px solid #fff; left: -60px}
        .contBottom .bottomBox .box2 .box_2:nth-child(1) .caption{border-right: 30px solid #eddfc8; opacity: 1; transition: 0.4s; }
        .contBottom .bottomBox .box2 .box_2:nth-child(2) .caption{border-right: 30px solid #f0ece7; opacity: 0; transition: 0.4s}
        .contBottom .bottomBox .box2 .box_2:nth-child(3) .caption{border-right: 30px solid #3E3832; opacity: 0; transition: 0.4s}
        
        
        .contBottom .bottomBox .box2 .box21:hover > .caption{opacity: 1}
        .contBottom .bottomBox .box2 .box22:hover > .caption{opacity: 1}
        .contBottom .bottomBox .box2 .box23:hover > .caption{opacity: 1}
        
        
        .contBottom .bottomBox .box3>div{display: flex; flex-wrap: wrap}
        .contBottom .bottomBox .box3>div>div{width: 200px; height: 133px; }
        .contBottom .bottomBox .box3 .box31{background-color: #F7B500; }
        
        .contBottom .bottomBox .box3 .box32{background-image: url(../img/box2.jpg); width: 200px; background-position: center; background-size: cover; position: relative;  overflow: hidden}
        .contBottom .bottomBox .box3 .box32 span{width: 200px; height: 133px; display: block; background-color: rgba(0,0,0,0.5); position: absolute; top: 0; left: -200px; text-align: center; font-weight: 200; }
        .contBottom .bottomBox .box3 .box32 p:nth-child(1){color:#F7B500; margin-top: 25px;}
        .contBottom .bottomBox .box3 .box32 p:nth-child(2){color: #fff;margin-bottom: 5px; font-size: 18px}
        .contBottom .bottomBox .box3 .box32 p:nth-child(3){color: #fff; border: 1px solid #fff; width: 100px; padding: 5px 10px; text-align: center; margin: auto}
        
        
        
        .contBottom .bottomBox .box3 .box33{background-image: url(../img/box1.jpg); width: 200px;background-size: cover; position: relative;  overflow: hidden}
        .contBottom .bottomBox .box3 .box33 span{width: 200px; height: 133px; display: block;  background-color: rgba(0,0,0,0.5); position: absolute; top: 0; left: 200px; text-align: center; font-weight: 200; color: #fff; }
        .contBottom .bottomBox .box3 .box33 P:nth-child(1){margin-top: 15px;}
        .contBottom .bottomBox .box3 .box33 hr{width: 30%; margin: auto;}
        .contBottom .bottomBox .box3 .box33 P:nth-child(2){margin-bottom: 3px;}
        .contBottom .bottomBox .box3 .box33 P:nth-child(3){margin-bottom: 3px; color:#F7B500; }
        .contBottom .bottomBox .box3 .box33 P:nth-child(4){margin-bottom: 3px;  }
        .contBottom .bottomBox .box3 .box33 .new{width: 30px; height: 20px; display: inline-block; background-color: #F7B500; position: static;  text-align: center; font-weight: 200; color:#3E3832;}
        .contBottom .bottomBox .box3 .box33 P:nth-child(6){font-weight: 100; margin-top: 5px}
        
        
        .contBottom .bottomBox .box3 .box34{background-color: #9C9481}
        
        .contBottom .bottomBox .box3 .box35{background-color: #5C4728}
        
        .contBottom .bottomBox .box3 .box36{background-image: url(../img/main_bg3.jpg); width: 200px; background-position: center; background-size: cover; position: relative; overflow: hidden}
        .contBottom .bottomBox .box3 .box36 span{width: 200px; height: 133px; display: block;  background-color: rgba(0,0,0,0.5); position: absolute; top: 0; left:-200px; text-align: center; font-weight: 200; color: #fff; }
        .contBottom .bottomBox .box3 .box36 span>span{width: 90px; height: 20px; display: inline-block; background-color: #54a22b; position: static;  text-align: center; font-weight: 200; border-radius: 20px; margin-top: 15px;margin-bottom: 3px }
        .contBottom .bottomBox .box3 .box36 p:nth-child(1){margin-bottom: 5px}
        .contBottom .bottomBox .box3 .box36 p:nth-child(2){}
        .contBottom .bottomBox .box3 .box36 p:nth-child(3){font-size: 14px; color: #F7B500;}
        .contBottom .bottomBox .box3 .box36 p:nth-child(5){color: #c6c6c6; margin-top: 5px; font-size: 11px; }
        
        .contBottom .bottomBox .box3 i{font-size: 30px; color:#3E3832; position: absolute; margin-left: 85px; margin-top: 35px;}
        .contBottom .bottomBox .box3 .box31:hover>i{animation: tabAni 0.5s}
        .contBottom .bottomBox .box3 .box34:hover>i{animation: tabAni 0.5s}
        .contBottom .bottomBox .box3 .box35:hover>i{animation: tabAni 0.5s}
        .contBottom .bottomBox .box3 .view{font-weight: 300; font-size: 15px; text-align: center; margin-top: 70px; }
        .contBottom .bottomBox .box3 .box35 .view, .contBottom .bottomBox .box3 .box35 i{color: #9C9481}
        /*contBottom 끝*/
        
        
        
        /*콘텐츠 끌*/
        
        /*kbApp 시작*/
        #kbApp{padding: 25px 0}
        #kbApp .inner h2{text-align: center; padding: 0 0 30px 0; font-weight: 300; color: #3E3832; font-size: 24px}
        #kbApp .inner h2::before{content: '|'; display: inline-block; background-color:#F7B500; color: transparent;  margin-right: 0.4em; color: transparent; font-size: 18px }
        #kbApp .inner h2 span{color:#F7B500; font-weight: 400; font-size: 26px}
        #kbApp .inner>div>div img{width: 110px; margin: auto}
        
        .autoplay{width: 1100px; height: 200px; margin: auto;}
        .autoplay button{}
        .slick-next:before{ color:#3E3832; }
        .slick-next{margin-left: 850px}
        .slick-prev:before{color:#3E3832;  }
        .slick-prev{}
        /*kbApp 끝*/
        
        
        
        
        /*태뷰*/
        .tabPannel{position:relative; background-color: #fff; width: 1300px; margin: auto}
        .tabPannel h2{text-align: center; padding: 0 0 30px 0; font-weight: 300; color: #3E3832; font-size: 24px}
        .tabPannel h2::before{content: '|'; display: inline-block; background-color:#F7B500; color: transparent;  margin-right: 0.4em; color: transparent; font-size: 18px }
        .tabPannel h2 span{color:#F7B500; font-weight: 400; font-size: 26px}
       
        .tab_title{width: 600px; margin: auto; }
        .tab_title li {float: left; width: 200px; padding: 20px 30px; cursor: pointer;text-align: center; background-color:#3E3832;color: #cbb79d; font-size: 16px; font-weight:100; transition: 0.4s; position: relative
        }
         .tab_title li::after{content: ''; display: inline-block; width: 0.8px; height: 40px; background-color: #c7c7c7; position: absolute;top: 10px;right: 0}
        .tab_title li:last-child::after{display: none}
        .tab_title li:hover{background-color:#F7B500; color:#3E3832; }
        .tab_title li.on {
          background-color: #ffb715;color: #3E3832;
        }

        .tab_cont {
          clear: both;
          height: 300px;
          background-color: #fdf4c4;}

        .tab_cont div {
          display: none;
          text-align: center;
        }
        .tab_cont div img{width: 250px; margin: 70px 10px;transform-style: preserve-3d;
  transition: .5s; filter: drop-shadow(0px 10px 10px)}
        .tab_cont div img:nth-child(1):hover {transform: rotateY(180deg);}
        
        

        .tab_cont div.on {
          display: block;
        }
        
        @keyframes tabAni{
            100%{transform: rotate(360deg)}
        }
        
        
        .pannel{width:100%; height:300px; position:absolute; bottom:0; box-sizing:border-box; display:none;}
        
        
/*        .bottomImg{background-image:url(../img/tab11.jpg); background-size: contain; width: 100%; height: 230px; background-position: center; background-repeat: no-repeat; background-color: #fdf4c4}*/
        
        /*콘텍트*/
        #contact{width: 100%; height: 500px; background-color: #594f46; overflow: hidden}
        .bottomLogo{background-image: url(../img/logo.png); width: 300px; height: 300px; background-size: contain; background-repeat: no-repeat;
        float: left; margin-top: 150px; margin-left: 200px }
        #contact h3{color:#F7B500; font-size: 24px; margin-top: 50px; text-indent: 1.6em }
        #contact .form {width: 600px; float: right;  height: 500px; position: relative; color: #fff; }
        #contact .form input{display: block;  
		border-radius: 3px; padding: 10px 15px; text-align: center; font-size: 14px; color: #fff; 
		transition-duration: 0.25s; font-weight: 300; margin: 10px; width: 320px}
        #contact button{outline: 0; background-color:#F7B500; border: 0;
            padding: 10px 28px; left: 250px; position: absolute; transition: 0.5s; bottom: 80px}
        #contact button:hover{background-color: #3E3832;}
        
        .input-inner{position: absolute;left:30px;top:38%; margin-top:-80px; color: #fff;}
        .input-inner .unit{position: relative;}
        .input-inner .unit + .unit{ margin-top:40px;}
        .input-inner .unit > input[type="text"]{
            font-size: 16px;padding: 0px 3px; border: 0; background-color: transparent;border-bottom:1px solid #757575;outline:none; color:#fff;}
        .input-inner .unit:last-child > input[type="text"]{ height: 80px}
        .input-inner .unit .line{ position: absolute; bottom:0;
            left:0;right:0;}
        .input-inner .unit .line::before,
        .input-inner .unit .line::after{
            content: '';height:2px;  width:0%;  position: absolute; background-color: #fff;  bottom:0; transition: width 0.2s;}
        .input-inner .unit > input[type="text"]:focus ~ .line:before,
        .input-inner .unit > input[type="text"]:focus ~ .line:after {width:50%;}
        .input-inner .unit .line::before{ left:47%;}
        .input-inner .unit .line::after{right:47%;}
        .input-inner .unit > label{ position: absolute; left:0; top:-10px;color: #fff;font-size: 14px; text-indent: 1em}
        
        
        /*콘텍트 끝*/
        
        /*푸터*/
        #footerTop{background-color:#3E3832;}
        #footerTop .inner{}
        #footerTop .footerNav{display: flex; justify-content: space-around; font-weight: 100; font-size: 12px; background-color:#3E3832; }
        #footerTop .footerNav li::before{content: '|'; display: inline-block; background-color:#434343; margin-right: 1em; color: transparent; font-size: 8px; font-weight: 100}
        #footerTop .footerNav li:nth-child(1)::before{display: none}
        #footerTop .footerNav li a{display: inline-block; padding: 20px 0; color: #afafaf   }
        #footerTop .footerNav li:nth-child(1) a{color: #F7B500}
        #footerTop .footerToplogo{ background-color:#3E3832; border-bottom: 1px solid #4d4d4d }
        #footerTop .footerToplogo .inner>div{display: flex; }
        #footerTop .footerToplogo .inner>div>div{}
        #footerTop .footerToplogo .flogo{width: 175px; background-image: url(../img/icon_set1_n1.png);background-position: 19px -73px; height: 44px; margin-top:  30px ; }
        #footerTop .footerToplogo .fmid{width: 835px; height: 100px; padding: 10px 30px} 
        #footerTop .footerToplogo .fmid p{font-weight: 100; color: #908977; text-align: center; position: relative; left: 60px}
        #footerTop .footerToplogo .fmid p:last-child{color: #9b9b9b; margin-top: 5px}
        #footerTop .footerToplogo .fright{width: 300px; display: flex; height: 32px; margin-top: 20px; flex-direction: row-reverse}
        #footerTop .footerToplogo .fright .last{display: flex; justify-content: flex-end;}
        #footerTop .footerToplogo .fright .last div{ width: 35px; height: 35px; background-size: cover; margin-left: 2px; }
        #footerTop .footerToplogo .fright .last div:nth-child(1){background-image: url(../img/icon-bl.svg); margin-left: 10px}
        #footerTop .footerToplogo .fright .last div:nth-child(2){background-image: url(../img/icon-fb.svg);}
        #footerTop .footerToplogo .fright .last div:nth-child(3){background-image: url(../img/icon-ig.svg);}
        #footerTop .footerToplogo .fright .last div:nth-child(4){background-image: url(../img/icon-yt.svg); margin-right: 13px}
        .fselect{background-color: #3E3832; color: #fff; width: 140px; font-size: 12px}
        
        
        
        
        /*top*/
        #footer .top:hover{background-color:#F7B500; color:#3E3832;}
        #footer .top{width: 100%; height: 60px; background-color:#3E3832; color:#F7B500; font-size:50px; text-align: center; transition: 0.5s}
        
        
        /*팝업..?*/
        
        .popup{width: 100%; height: 80px; background-color: #5E5148; top: 0px; transition: 0.5s; position: absolute; z-index: 9; color: #d9d9d9; font-weight: 100; transition: all 1s ease;}
        .popup .notice{background-color: #847d69; width: 100%; height: 40px; overflow: hidden}
        .popup button{position: absolute; left: 1210px; background-color:#5E5148; color: #fff; font-size: 10px; padding: 10px 20px; line-height: 10px; border: none}
        .active{top: -40px}
        .popup .inner{display: flex; justify-content: flex-end; width: 1010px}
        .popup .inner *{margin-left: 10px; line-height: 40px; font-size: 10px; cursor: pointer; transition: 0.2s}
        .popup input[type=text]{height: 20px; margin-top: 8px; width: 100px; text-align: center; border-radius: 10px; border: none; margin-left: 30px; transition: 0.5s}
        .popup span:hover{color: #F7B500}
        .popup i:last-child{width: 25px; height: 25px; background-color:#3E3832; text-align:center; line-height: 25px; margin-top: 6px; border-radius: 50px; margin-left: 5px}
        
        .focus{width: 150px; background-color: #F7B500; color: #fff; }
        
        .container_list{
            animation-name: change;
          animation-duration: 10s;
          animation-iteration-count: infinite;
        }
        .container_list a{line-height: 40px; display: block; height:40px; color: #F7B500; font-weight: 100; transition: 0.5s ease}
        .container_list:hover{animation-play-state: paused;}
        .container_list a:hover{ color: #fff; }
        @keyframes change {
          0%, 12.66%, 100% {transform:translate3d(0,0,0);}
          16.66%, 29.32% {transform:translate3d(0,-25%,0);}
          33.32%,45.98% {transform:translate3d(0,-50%,0);}
          49.98%,62.64% {transform:translate3d(0,-75%,0);}
          66.64%,79.3% {transform:translate3d(0,-50%,0);}
          83.3%,95.96% {transform:translate3d(0,-25%,0);}
        }